In [1]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import numpy as np

In [2]:
# trips = pq.read_table('../data/yellow_tripdata_2023-01.parquet')
# data = trips.to_pandas()

trips_zones_url = "../data/taxi+_zone_lookup.csv"
trips_zones_df = pd.read_csv(trips_zones_url)

In [4]:
# Update the database connection URL with the IP address or hostname of the machine
engine = create_engine("postgresql://root:root@192.168.3.119:5432/ny_taxi")

# Assuming trips_zones_df is a DataFrame you want to store in the database
print(pd.io.sql.get_schema(trips_zones_df, name="trips_zones", con=engine))

trips_zones_df.to_sql(name= "trips_zones", con=engine,if_exists="replace")

CREATE TABLE trips_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

265

In [9]:
data.head(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.0,0.5,0.0,0.0,1.0,14.3,2.5,0.0

In [13]:
data.shape

(3066766, 19)

In [14]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [16]:
print(pd.io.sql.get_schema(data,name ="yellow_taxi_tripdata", con=engine))

CREATE TABLE yellow_taxi_tripdata (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [17]:
dfs = np.array_split(data, 100)

/home/zbook/anaconda3/envs/de_env/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [18]:
dfs[0].head(0).to_sql(name= "nyc_taxi", con=engine,if_exists="replace")

0

In [12]:
from time import time 
for df in dfs: 
    t_start = time()
    df.to_sql(name= "nyc_taxi", con=engine,if_exists="append")
    t_end = time()
    print("inserted another chunk ..., took %.3f second" %(t_end-t_start))

inserted another chunk ..., took 3.155 second
inserted another chunk ..., took 3.163 second
inserted another chunk ..., took 3.020 second
inserted another chunk ..., took 2.946 second
inserted another chunk ..., took 3.021 second
inserted another chunk ..., took 3.268 second
inserted another chunk ..., took 3.075 second
inserted another chunk ..., took 3.111 second
inserted another chunk ..., took 3.254 second
inserted another chunk ..., took 2.956 second
inserted another chunk ..., took 3.277 second
inserted another chunk ..., took 3.261 second
inserted another chunk ..., took 3.115 second
inserted another chunk ..., took 3.058 second
inserted another chunk ..., took 3.106 second
inserted another chunk ..., took 3.045 second
inserted another chunk ..., took 3.293 second
inserted another chunk ..., took 2.966 second
inserted another chunk ..., took 3.224 second
inserted another chunk ..., took 3.050 second
inserted another chunk ..., took 3.146 second
inserted another chunk ..., took 3.065 second
inserted another chunk ..., took 3.188 second
inserted another chunk ..., took 3.121 second
inserted another chunk ..., took 3.296 second
inserted another chunk ..., took 3.230 second
inserted another chunk ..., took 2.924 second
inserted another chunk ..., took 3.025 second
inserted another chunk ..., took 3.284 second
inserted another chunk ..., took 2.940 second
inserted another chunk ..., took 3.044 second
inserted another chunk ..., took 3.164 second
inserted another chunk ..., took 3.039 second
inserted another chunk ..., took 3.173 second
inserted another chunk ..., took 3.280 second
inserted another chunk ..., took 3.435 second
inserted another chunk ..., took 3.257 second
inserted another chunk ..., took 3.061 second
inserted another chunk ..., took 3.070 second
inserted another chunk ..., took 3.198 second
inserted another chunk ..., took 2.875 second
inserted another chunk ..., took 3.331 second
inserted another chunk ..., took 2.965 second
inserted another chunk ..., took 3.084 second
inserted another chunk ..., took 3.366 second
inserted another chunk ..., took 3.071 second
inserted another chunk ..., took 3.114 second
inserted another chunk ..., took 3.297 second
inserted another chunk ..., took 2.941 second
inserted another chunk ..., took 3.059 second
inserted another chunk ..., took 3.009 second
inserted another chunk ..., took 3.303 second
inserted another chunk ..., took 2.884 second
inserted another chunk ..., took 3.084 second
inserted another chunk ..., took 3.327 second
inserted another chunk ..., took 3.225 second
inserted another chunk ..., took 3.316 second
inserted another chunk ..., took 3.291 second
inserted another chunk ..., took 3.043 second
inserted another chunk ..., took 3.102 second
inserted another chunk ..., took 2.982 second
inserted another chunk ..., took 3.246 second
inserted another chunk ..., took 3.151 second
inserted another chunk ..., took 3.098 second
inserted another chunk ..., took 3.283 second
inserted another chunk ..., took 2.911 second
inserted another chunk ..., took 3.137 second
inserted another chunk ..., took 3.224 second
inserted another chunk ..., took 3.146 second
inserted another chunk ..., took 3.149 second
inserted another chunk ..., took 2.889 second
inserted another chunk ..., took 3.238 second
inserted another chunk ..., took 2.990 second
inserted another chunk ..., took 3.228 second
inserted another chunk ..., took 3.774 second
inserted another chunk ..., took 2.976 second
inserted another chunk ..., took 3.075 second
inserted another chunk ..., took 3.100 second
inserted another chunk ..., took 3.048 second
inserted another chunk ..., took 3.152 second
inserted another chunk ..., took 3.102 second
inserted another chunk ..., took 3.270 second
inserted another chunk ..., took 3.263 second
inserted another chunk ..., took 3.087 second
inserted another chunk ..., took 3.242 second
inserted another chunk ..., took 3.038 second
inserted another chunk ..., took 3.037 second
inserted another chunk ..., took 3.255 second
inserted another chunk ..., took 2.966 second
inserted another chunk ..., took 3.201 second
inserted another chunk ..., took 3.130 second
inserted another chunk ..., took 3.045 second
inserted another chunk ..., took 3.189 second
inserted another chunk ..., took 3.891 second
inserted another chunk ..., took 3.032 second
inserted another chunk ..., took 3.272 second
inserted another chunk ..., took 3.058 second
inserted another chunk ..., took 3.103 second
inserted another chunk ..., took 2.759 second
inserted another chunk ..., took 2.767 second